@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700&subset=cyrillic');
/* NORMALIZE CSS >> ================================================================================================= */
@import 'components/normalize';

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  line-height: 1.6;
  color: #6b7388;
}
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.container {
  max-width: 1530px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';;
}

:focus {
  outline: 0 !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  & .container {
    padding: 15px;
  }
}




nav {
  ul {
    display: table;
    width: 100%;
    padding: 15px 0;
  & > li {
    display: table-cell;
    text-align: center;
    & > a {
      color: #fff;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  }
}


.section {
  min-height: 700px;

  &-main {
    background: url("../images/support_bg_blur.jpg") no-repeat center center;
    background-size: cover;
    min-height: auto;

    &__wrapper {
      padding: 12rem 0;

      background: -webkit-gradient(linear, right left, left top, from(#021646), to(rgba(0, 0, 0, 0.7019607843137254)));
      background: linear-gradient(to left, #021646 0%, rgba(34, 39, 72, 0.7) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#334263fc', endColorstr='#00254ca3', GradientType=0);
    }
  }





  &__title {
    //font-size: 2.2rem;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    color: #111;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1.8rem;
      height: .25rem;
      content: '';
      background: #ff0063;
    }
  }
  &__subtitle {
    font-size: 13px;
    letter-spacing: .15em;
    text-transform: uppercase;
  }
}





@import 'components/slider/slider';
@import 'components/slider/slider-theme';
